body{
    background-position: auto;
    background-size: cover;
    background-color: #ffc2e7;
    background-repeat: repeat;
    border-radius: 2em;
    background-image: url(images/pattern2.png);

}


h1{
    position: fixed;
    left: 45%;
    top: 20%;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 25px;
}

.home{
    position: fixed;
    padding: 5%;
    left: 0%;
    top: 0%;
}


.lower{
    position: relative;
    left: 18%;
    top: 28%;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.window {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
}

.falling {
    position: absolute;
    top: -30vh;          
    animation-name: drop;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    z-index: 3;
}

.falling img {
    width: 10vw;          
    height: auto;
}

.falling:nth-of-type(1) {
    left: 25vw;
    animation-duration: 4s;
    animation-delay: 0s;
}

.falling:nth-of-type(2) {
    left: 50vw;
    animation-duration: 5s;
    animation-delay: 1s;
}

.falling:nth-of-type(3) {
    left: 75vw;
    animation-duration: 6s;
    animation-delay: 2s;
}

@keyframes drop {
    0% {
        top: -50vh;
        transform: rotate(0deg);
    }
    100% {
        top: 100vh; 
        transform: rotate(360deg); 
    }
}

.box {
    position: fixed;
    bottom: 0;
    left: 10%;

    width: 80vw;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;

}

.hover{

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

}

.hover:hover {
    transform: translate(-2%, -2%) scale(1);
}

.menu{
    position:fixed;
    top: 10%;
    right: 13%;
    background-color: rgb(101, 245, 255);
    box-sizing: content-box;
    color: #335eff;
    width:250px;
    height:auto;
    padding:30px;
    border:8px dotted #335eff;
    border-radius: 80px 80px 5px 5px;
    z-index: 2;
}

.font1{
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #3358ec;

}

.font2{
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #3358ec;
}

.bold{
    font-weight: bold;
}